<header>
  <div class="md:py-4 md:pl-2 md:pr-8 sm:py-2 sm:pl-0 sm:pr-2 border-b flex items-center ">
    <div class="font-handwriting flex-grow text-2xl pl-2 pt-2">
      <a href="/">
        {{ site.name }}
      </a>
    </div>
    <div class="flex-none flex flex-wrap md:flex-row sm:flex-col text-base">
      {% for nav in navigation %}
        <span>
          {{ nav.icon }}
          <a href="{{ nav.link }}" target="{{ '_blank' if nav.new_window == true }}" class="hover:underline">
            {{ nav.label }}
          </a>
          <span class="md:visible sm:invisible">
            {% if loop.last == false %}&nbsp;/&nbsp;{% endif %}
          </span>
        </span>
     {% endfor%}
    </div>
  </div>
</header>
