---
layout: base
---

<div class="container px-2">
  <h1>{{title}}</h1>

  {{content | safe}}

  <div class="flex justify-center w-full my-4">
    {% include "partial/license.njk" %}
  </div>
</div>


