{% if license %}
  <div class="flex flex-wrap flex-row">
    <div class="w-full">
      <p class="text-sm text-center italic">Ce contenu est utilisable sous<br/> licence Creative Commons</p>
    </div>
    <div class="w-full flex justify-center mt-2">
      <a href="https://creativecommons.org/licenses/{{ license }}/4.0/">
        <img loading="lazy"
            class="border-0 margin-0 padding-0"
            alt="{{ license }} icon"
            src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/{{ license }}.png"
            width="118"
            height="41">
      </a>
    </div>
  </div>
{% endif %}
