<li class="border-b">
  <div class="px-6 py-4 my-4 flex flex-col rounded border border-yellow-900 border-opacity-20">
    <div class="flex-1">
      <h2 class="m-0 p-0 text-base">
        <a href="{{ post.url }}">
          {{post.data.title}}
        </a>
      </h2>
    </div>
    <div class="flex flex-1">
      <span class="flex-grow">
        {% formatDate post.data.date, "yyyy-MM-dd" %}
      </span>
      <span>
        {% include "partial/taglist.njk" %}
      </span>
    </div>
  </div>
</li>
