---
layout: page
title: Le Tsuchi Mag
icon: 📰
date: 2022-04-22
license: by-nc-nd
description: Un projet journalistique dans un monde persistant fictif
---

{% renderTemplate "md" %}

## L'histoire du projet

Pendant les premières années durant lesquelles j'ai joué à [Sistearth](http://www.sistearth.com), le maître de jeu tenait
une newsletter nommée "La Gazette Sistearthienne". Tous les joueurs la recevait en jeu et elle permettait de transmettre
les nouvelles et les rumeurs. Hélas, elle s'est un jour arrêtée, probablement par manque de temps de son auteur.  
\
Un beau jour d'été, regrettant cette absence, je décidais de me lancer dans le projet de créer une suite à cette gazette.
Après quelques discussions, je suis vite rejoint par Oniria avec qui je réalise le premier numéro. Journaliste de métier,
elle me sera d'une aide précieuse, tant dans la pratique du journalisme amateur que dans la création du contenu. Quelques
temps plus tard, ce sera Fifrelogrelin qui nous rejoindra également à l'écriture.  
\
Entre temps, le magazine prévu pour les Tsuchis uniquement va finalement susciter de l'engouement et la plupart des numéros
seront publiés dans la partie publique du forum du jeu pour être accessibles à tous.  
\
Six mois plus tard, nous publiions notre premier hors série, qui sera le 18e et dernier numéro d'une aventure très 
enrichissante.

## La réalisation

Côté inspiration, le Tsuchi Mag est clairement dans le style des journaux papier. On retrouve un entête bien identifiable, 
suivi de la mise en page en colonnes et une section petites annonces. Le texte est justifié et on trouve quelques images 
dans les articles, notamment le personnage du joueur dans les interviews.  
\
La charte graphique reprend celle du Royaume Tsuchi par la couleur rouge qui lui est associée en jeu et par l'emblème du
 royaume bien en vue de part et d'autre du titre. 
\
En ce qui concerne les outils, étant fan de logiciel libre, c'est avec [Scribus](https://www.scribus.net/downloads/) que 
j'ai réalisé l'ensemble des numéros. J'ai trouvé l'outil plutôt facile d'accès et simple à utiliser pour mon besoin.  

## Remerciements :

Un grand merci à Oniria pour son temps et son savoir, à Fifrelogrelin pour son aide et ses articles, aux lecteurs pour nous
avoir soutenu et enfin à l'équipe de bénévoles qui font tourner le jeu.

{% endrenderTemplate %}


<h2 class="mt-10">Vous pouvez retrouvez tous les numéros ci-dessous : </h2>
<div class="flex flex-wrap flex-row">
{% for issue in tsuchi_mag %}
  <details class="w-full my-2 border rounded hover:bg-gray-100">
    <summary class="px-4 py-2">
      Tsuchi Mag {{ issue.issue }}{% if issue.description %} - <span class="italic">{{ issue.description }}</span>{% endif %}
    </summary>
    <div class="flex flex-wrap flex-row justify-center w-full">
    {% for issuePage in issue.pages %}
      <img src="{{page.url}}/issues/{{ issuePage }}" alt="Tsuchi Mag #{{ issue.issue }}, page {{ loop.index }}">
    {% endfor %}
    </div>
  </details>
{% endfor %}
</div>
