---
layout: page
pagination:
  data: collections.posts
  size: 5
  alias: posts
  reverse: true
title: Articles
date: Last Modified
---

{% import "macros/components.njk" as cmp %}

<ul class="mt-4 mx-4 pt-4">
  {% for post in posts %}
    {% include "partial/list-item.njk" %}
  {% endfor %}
</ul>

<div class="px-4 mt-6 flex justify-between">
  <div>
    {% if pagination.href.previous %}
      {{ cmp.button(pagination.href.previous, '< Page précédente') }} 
    {% endif %}
  </div>
  <div>
    {% if pagination.href.next %}
      {{ cmp.button(pagination.href.next, 'Page suivante >')}}
    {% endif %}
  </div>
</div>
