---js
{
  layout: "post",
  pagination: {
    data: "notion",
    size: 1,
    alias: "post",
    addAllPagesToCollections: "true",
  },
  templateEngineOverride: "njk,md",
  eleventyComputed: {
    title: "{{ post.metadata.title }}",
    date: ({ post }) => new Date(post.metadata.date),
    tags: ({ post }) => post.metadata.tags,
    permalink: "/posts/{{ post.metadata.title | slug }}/",
  }
}
---

{{ post.content | safe }}
