---
layout: page
title: Mes projets
pagination:
  data: collections.projects
  size: 5
  alias: projects
  reverse: true
date: Last Modified
---

{% import "macros/components.njk" as cmp %}

<ul class="mt-4 mx-4 pt-4 grid sm:grid-cols-1 md:grid-cols-2">
  {% for project in projects %}
    <li class="list-none">
      <a href="/project/{{project.fileSlug}}" class="no-underline">
        {{ cmp.card(project.data.title | title, project.data.description, project.data.icon) }}
{# 
        <div class="p-8 mb-4 flex flex-col rounded hover:bg-yellow-900 hover:bg-opacity-20 hover:shadow">
          <h2 class="mt-0 text-center">
            {{project.data.icon}}
            <span class="underline"> {{project.data.title }}</span>
          </h2>
          <p class="text-center">
            {{project.data.description}}
          </p>
        </div>
  #}     </a>
    </li>
  {% endfor %}
</ul>

{% if pagination.href.next %}
  <a href="{{pagination.href.next}}">Page suivante</a>
{% endif %}
{% if pagination.href.previous %}
  <a href="{{pagination.href.previous}}">Page précédente</a>
{% endif %}
