---
permalink: '/sitemap.xml'
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for post in collections.all %}
    <url>
      <loc>{{ data.site.url }}{{ post.url }}</loc>
      <lastmod>{% formatDateISO post.date %}</lastmod>
    </url>
  {% endfor %}
</urlset>
