---
layout: page
pagination:
  data: available_tags
  size: 1
  alias: tag
permalink: /tags/{{ tag.name }}/
eleventyComputed:
  title: "{{ tag.emoji }} {{ tag.name | capitalize }}"
---

<ul class="mt-4 mx-4 pt-4">
  {% for post in collections[tag.name] | reverse %}
    {% include "partial/list-item.njk" %}
  {% endfor %}
  {% if collections[tag.name] | length == 0 %}
    Aucun article dans cette catégorie.
  {% endif %}
</ul>
