---
layout: page
title: Tags
permalink: /tags/
---

{% import "macros/components.njk" as cmp %}
{% import "macros/helpers.njk" as fn %}

<div class="grid sm:grid-cols-1 md:grid-cols-3 gap-4 mt-4 mx-4 pt-4">
  {% for tag in available_tags %}
    <a href="/tags/{{tag.name}}" class="no-underline">
      {% set articleCount = collections[tag.name] | length %}
      {{ cmp.card(tag.name | capitalize, fn.when(articleCount > 0, articleCount + ' articles', 'Aucun articles'), tag.emoji) }}
    </a>
  {% endfor %}
</div>
