{% set border = "border-yellow-900 border-opacity-20" %}

{% macro button(href, label) %}

  <a href="{{ href }}" class="px-4 py-2 rounded border {{ border }} hover:border-opacity-30 hover:bg-yellow-900 hover:bg-opacity-20">
    {{ label }}
  </a>

{% endmacro %}

{% macro card(card_title, description, emoji = '') %}

  <div class="p-6 mb-4 flex flex-col rounded hover:bg-yellow-900 hover:bg-opacity-20 hover:shadow border-2 {{ border }}">
    <h2 class="mt-0 text-center">
      {% if emoji %}{{ emoji }} {% endif %}
      {{ card_title }}
    </h2>

    <p class="text-center">
      {{ description }}
    </p>
  </div>

{% endmacro %}
