@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/indie_flower.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/raleway.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/jetbrains_mono.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('/assets/fonts/jetbrains_mono.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/montserrat_semibold.woff2') format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;


details summary {
  cursor: pointer;
}

details[open] {
  @apply bg-gray-100;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-title
}

h1 {
  @apply text-3xl font-bold mb-4
}

h2 {
  @apply text-2xl font-bold mt-4 mb-2
}

h3 {
  @apply text-xl font-bold mt-4 mb-1
}

.md a {
  @apply underline
}

p {
  hyphens: auto;
}

.md code {
  @apply font-mono font-thin text-sm
}

.md pre {
   @apply bg-gray-100 p-2 my-2 rounded
}

.md ul,
.md ol {
  @apply list-inside list-disc my-2
}

.md img {
  @apply border rounded p-2 my-2
}
